h1 {
    letter-spacing: 2px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

header, section, footer {
    padding: 20px;
    text-align: center;
}

header {
    background-color: grey;
    color: black;

}

.brands button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: tan;
    color: white;
    cursor: pointer;
}


.brands button:hover {
    background-color: #555;
}

.section-1 {
    background-color: #f9f9f9;
    padding: 40px 20px;
}

.search-bar {
    padding: 10px;
    width: 200px;
    margin-bottom: 20px;
}

.brand-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.brand-box {
    background-color: #ddd;
    padding: 40px;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
footer input {
    padding: 10px;
    width: 300px;
}

footer button {
    padding: 10px 20px;
    background-color: tan;
    color: white;
    border: none;
    cursor: pointer;
}

.main-content {
    padding: 20px;
    text-align: center;

}

.brand-section {
    margin-bottom: 20px;
}

.about-section {
    margin-bottom: 30px;
}

.parts-grid {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.part {
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
}
